@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #00224d;
  --color-bg2: #5d0e41b0;
  --color-accent: #a0153e;
  --color-text: #ff204e;
  --gray: #9b9b9b;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
}

.form__field {
  font-family: "Source Code Pro", monospace;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 30px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  color: var(--gray);
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--color-accent),
    var(--color-text)
  );
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #00000000;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #000e21;
  color: var(--color-text);
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.wrapper {
  margin: 1rem;
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  max-height: 600px;
  flex-grow: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  gap: 1rem;
  background: rgb(0, 31, 71);
  background: rgb(0, 31, 71);
  background: -moz-linear-gradient(
    326deg,
    rgba(0, 31, 71, 1) 0%,
    rgba(0, 42, 96, 1) 100%
  );
  background: -webkit-linear-gradient(
    326deg,
    rgba(0, 31, 71, 1) 0%,
    rgba(0, 42, 96, 1) 100%
  );
  background: linear-gradient(
    326deg,
    rgba(0, 31, 71, 1) 0%,
    rgba(0, 42, 96, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001f47",endColorstr="#002a60",GradientType=1);
}

h1 {
  padding: 0.8rem;
  text-align: left;
  border-radius: 5px;
  color: #cacaca;
  font-size: 2rem;
  font-weight: 800;
}

.info {
  padding: 2rem;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 0.9rem;
}

.info span {
  margin-right: 5px;
}

.info .time,
.info .record {
  padding: 0.4rem;
  background-color: var(--color-bg2);
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}

.info .time {
  cursor: pointer;
  background-color: var(--color-accent);
  color: #fff;
  min-width: 70px;
}

.info #record {
  margin-right: 5px;
}

.game-container {
  width: 100%;
  padding: 4rem 2rem;
  align-items: center;
  gap: 1rem;
}

.game-container #word {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

footer {
    width: 100%;   
    padding: 2rem;
    background-color: #00000047;
    color: #cacaca;
    justify-content: space-between;
}

.settings {
    gap: 1rem;
}

.settings select {
    border: none;
    color: var(--color-text);
    font-family: "Source Code Pro", monospace;
    background-color: #ffffff00;
}

.settings select:focus {
    border: none;

}

.settings select > option {
    border: none;
    outline: none;
    background: none;
    font-size: 0.75rem;
    color: rgb(0, 0, 0);
}

.credit {
    cursor: pointer;
}

.credit .github {
    display: flex;
    align-items: end;
    gap: 5px;
    justify-content: flex-end;
}

.credit a {
    font-size: 0.75rem;
    color: var(--color-text);
    text-decoration: none;
}
